.center{
					font-size:0px;
					position:absolute;
					font-weight: 900;
					top:50%;
					left:50%;
				    -moz-background-size:cover;
					background-size:cover;
					width:96px;
					height:136.5px;

}


.title{
	font-size:0px;
	position:absolute;
	text-align: top;
    -moz-background-size:cover;
	background-size:cover;
	width:64px;
	height:91px;




}