.center{
					position:absolute;
					top:50%;
					left:50%;
					width:72px;
					height:72px;
					background-color: #7f7fff;
					border-radius: 50%;
					}


.title{
	position:absolute;
	background-color: #ff82ab;
	width:90px;
	height:90px;
	text-align: center;
	border-radius: 50%;


}